<div data-page="add_data" id="app_main" class="app-main">

    <div><h2>Add data</h2></div>

    <form id="form_add_data">

        <div>Title</div>
        <div class="content-inp"><input type="text" name="add_title" placeholder="required"></div>

        <div>Text</div>
        <div class="content-inp"><textarea name="add_description" id="add_description" placeholder="required"></textarea></div>

        <div>Image</div>
        <div><small>image type png or jpg</small></div>
        <div class="content-inp"><label for="add_img">Add img</label></div>
        <div id="add_img_loaded" class="add-img-loaded"></div>
        <div class="content-inp"><input type="file" id="add_img" name="add_img"></div>

        <div class="content-inp"><button type="submit">send</button></div>

    </form>

</div>

