<div data-page="first_login" id="login_main" class="login-main">

    <div class="app-name">Memorize</div>

    <div><h2>First connexion</h2></div>
    <div id="first_login_tpl">
        <form id="form_first_login" autocomplete="off">
            <div class="content-inp"><input type="text" name="new_login" placeholder="New login.." autocomplete="off"></div>
            <div class="content-inp"><input type="email" name="new_email" placeholder="New email.." autocomplete="off"></div>
            <div class="content-inp"><input type="password" name="new_password" placeholder="New password.." autocomplete="off"></div>
            <div class="content-inp"><input type="password" name="new_confirm_password" placeholder="Confirm password.." autocomplete="off"></div>
            <div class="content-inp"><button type="submit">SAVE</button></div>
        </form>
    </div>

</div>
