<div data-page="login" id="login_main" class="login-main">

    <div class="app-name">Memorize</div>

    <div><h2>Connexion</h2></div>
    <div id="login_tpl">
        <form id="form_login" autocomplete="off">
            <div class="content-inp"><input type="text" name="user_login" placeholder="Login.." autocomplete="off"></div>
            <div class="content-inp"><input type="password" name="user_password" placeholder="Password.." autocomplete="off"></div>
            <div class="content-inp"><input type="checkbox" name="user_remember" autocomplete="off"> Remember</div>
            <div class="content-inp"><button type="submit">CONNEXION</button></div>
        </form>
    </div>

</div>
