
<div id="view_search" class="view-search">
    <input type="text" id="item_filter_keywords" name="item_filter_keywords" placeholder="Search..">
</div>

<div class="view-options">

    <i class="fa fa-ellipsis-v view_hide_all_description" aria-hidden="true" style="display:none;"></i>
    <i class="fa fa-ellipsis-h view_show_all_description" aria-hidden="true"></i>

    <i class="fa fa-angle-down view_show_all_category" aria-hidden="true"></i>

</div>

<div data-page="view" id="app_main" class="app-main app-view">

    <div id="view_data" class="view-data">

    </div>

    <div class="secret-img"><img src="./secret.png" alt=""></div>

</div>
